.list-group{
    display: none;
}

.nav-item:hover .list-group{
    display: block;
}
.list-group{
    position: absolute;
}
.nav-link{
    font-size: 14px;
    color: black;
}
.btn{
    font-size: 14px;
}